@import 'tailwindcss';

:root {
    --background: #dedede;
    --foreground: #171717;
    --primary: #458ad8;
    --item-background: #f5f5f5;
    --border: #cccccc;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-primary: var(--primary);
    --color-item-background: var(--item-background);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border-color: var(--border);
}
input:hover {
    border-color: var(--primary);
}
input:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 1px var(--primary);
    outline: none;
}